html {
    font-family: helvetica, arial, sans-serif;
}

body {
    background-color: #C9C;
    font-size: 0.7rem;
    line-height: 1rem;   
}

hr {
    border: solid 5px #96F
}

h1 {
    font-size: 2rem;
    color: #FFF
}

h2 {
    color: #FFF
}

h2 + p {
    background-color: #FCC
}

ul li:first-child {
    background-color: #FCC
}

ul li:third-child {
    background-color: #FCC
}

ul li:last-child {
    background-color: #FCC
}
        
        
        